// As hex codes */
$color-primary-0: #09164E; // Main Primary color */
$color-primary-1: #0E1E5F;
$color-primary-2: #0B1A56;
$color-primary-3: #071344;
$color-primary-4: #05103B;
$color-secondary-1-0: #720300; // Main Secondary color (1) */
$color-secondary-1-1: #8B0804;
$color-secondary-1-2: #7F0401;
$color-secondary-1-3: #640300;
$color-secondary-1-4: #560200;
$color-secondary-2-0: #005A06; // Main Secondary color (2) */
$color-secondary-2-1: #036E0A;
$color-secondary-2-2: #006407;
$color-secondary-2-3: #004F05;
$color-secondary-2-4: #004404;
$color-complement-0: #725000; // Main Complement color */
$color-complement-1: #8B6304;
$color-complement-2: #7F5901;
$color-complement-3: #644600;
$color-complement-4: #563C00;